@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}
@media only screen and (max-width: 500px) {
  .reversi-description {
    display: none !important;
  }
}
.noversi-header {
  display: inline-block;
  z-index: 99999;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: #3e3e3e;
  font-weight: 300;
  background-color: white;
  height: 60px;
  line-height: 60px;
}
.noversi-header div{
  display: inline-block;
}
.header-contain-div{
  width: calc(100% - 140px);
}
.header-logo {
  width: 130px;
  text-align: center;
  height: 55px;
}
.searchform {
  width: 100%;
}
.search-input {
  width: calc(100% - 80px);
  display: inline-block;
  border-width: 1px;
  height: 45px;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 10px;
  transition: 0.3s;
  border-style: solid;
  border-color: #ECEFF1;
  transition: 0.35s;
  outline: none;
}
.search-input:hover {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    outline: none;
}
.search-input:focus {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    outline: none;
}
.search-button {
  display: inline-block;
  height: 40px;
  width: 60px;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 0.3s;
  border-style: solid;
  border-color: #ECEFF1;
  color: white;
  background-color: #F48FB1;
  transition: 0.35s;
  margin: 5px;
  outline: none;
}
.search-button:active {
  background-color: white;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.search-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.search-button:focus {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.noversi-history-table {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
  border: 0;
  border-color: white;
}
.noversi-history-table tr {
  height: 40px;
  border: 0px solid;
}
.noversi-history-table tr th {
  border: 1px solid white;
}
.noversi-user-meta {
  background-color: white;
  padding: 10px;
  font-size: 15px;
}
.noversi-history-table tr:nth-child(even) { background: none; }
.noversi-history-table tr:nth-child(odd) { background: white; }
.username {
  text-align: left;
  margin: 0;
  font-size: 15px;
}
.detail {
  text-align: left;
  margin: 0;
  font-size: 10px;
}
.reversi-body {
  color: white;
  font-weight: 400;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.reversi-container {
  float: left;
  background-color: #37474F;
  border-radius: 16px;
  display: inline-block;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 300px;
  height: 440px;
  /* top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%) */
}
.reversi-description {
  display: inline-block;
  margin-left: 50px;
  height: 440px;
  max-width: 450px;
}
.reversi-point-left{
  position: absolute;
  height: 122px;
  width: 150px;
  top: 0;
  left: 0;
  font-size: 45px;
  text-align: center;
  color: white;
}
.reversi-point-right{
  position: absolute;
  height: 122px;
  width: 150px;
  top: 0;
  right: 0;
  font-size: 45px;
  text-align: center;
  color: white;
}
.reversi-buttons-bar{
  text-align: right;
  color: white;
  position: absolute;
  height: 28px;
  width: 100%;
  top: 122px;
  font-size: 13px;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}
.reversi-button {
  outline: none;
  font-family: inherit;
  display: inline-block;
  font-weight: bold;
  width: auto;
  border: none;
  height: 100%;
  font-size: inherit;
  margin: 0 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 14px;
  border-color: #EEEEEE;
  cursor: pointer;
  transition: 0.25s;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.0);
  color: #fff;
}
.reversi-button:hover {
  background-color: white;
  color: #212121;
  font-size: inherit;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.reversi-button:active {
  background-color: rgba(255, 255, 255, 0.0);
  color: #fff;
  font-size: 103%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.reversi-point-anime {
  opacity: 1;
  animation: ppop 0.5s;
}
@keyframes ppop {
  from {
    opacity: 0.4;
    }
  to {
    opacity: 1;
  }
}
.reversi-point {
  position:absolute;
  width: 70%;
  top:50%;
  left:50%;transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  text-align: left;
}
.reversi-point-hr {
  margin: 6px 0px;
  width: 100%;
  border-bottom-width: 2px;
  border-right-width: 0px;
  border-left-width: 0px;
}
.reversi-board {
  background-color: #fbf7f0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  position: absolute;
  height: 256px;
  width:  256px;
  bottom: 22px;
  left: 22px;
}
.reversi-board-block {
  position: relative;
  float: left;
  height: 32px;
  width:  32px;
  cursor: pointer;
}
.reversi-board-red {
  position: absolute;
  background-color: #f44183;
  float: left;
  height: 26px;
  width:  26px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  left: 50%;
  top:50%;
  left:50%;transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  animation: pop 0.5s ;
}
@keyframes pop {
  from {
    height: 22px;
    width:  22px;
    opacity: 0.5;
    border-radius: 11px;
    }
  to {
    height: 26px;
    width:  26px;
    border-radius: 13px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}
.reversi-board-blue-emphasize {
  position: absolute;
  background-color: #4286f4;
  float: left;
  height: 26px;
  width:  26px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  top:50%;
  left:50%;transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  animation: empopb 0.5s ;
}
@keyframes empopb {
  from {
    height: 22px;
    width:  22px;
    background-color: yellow;
    opacity: 0.5;
    border-radius: 11px;
    }
  to {
    height: 26px;
    width:  26px;
    border-radius: 13px;
    background-color: #4286f4;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}
.reversi-board-red-emphasize {
  position: absolute;
  background-color: #f44183;
  float: left;
  height: 26px;
  width:  26px;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  left: 50%;
  top:50%;
  left:50%;transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  animation: empop 0.5s ;
}
@keyframes empop {
  from {
    height: 22px;
    width:  22px;
    background-color: yellow;
    opacity: 0.5;
    border-radius: 11px;
    }
  to {
    height: 26px;
    width:  26px;
    border-radius: 13px;
    background-color: #f44183;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}
.reversi-board-blue {
  position: absolute;
  background-color: #4286f4;
  float: left;
  height: 26px;
  width:  26px;
  border-radius: 13px;
  cursor: pointer;
  left: 50%;
  top:50%;
  left:50%;transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  animation: pop 0.5s ;
}
@keyframes pop {
  from {
    height: 22px;
    width:  22px;
    opacity: 0.5;
    border-radius: 11px;
    }
  to {
    height: 26px;
    width:  26px;
    border-radius: 13px;
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }
}
.reversi-board-block-0 {
  background-color: #1e1e1e4d;
  position: relative;
  float: left;
  height: 32px;
  width:  32px;
  cursor: pointer;
}
.reversi-board-red-pointer {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width:  32px;
  border: 2.5px dashed #f44183;
  opacity: 1;
  box-sizing: border-box;
  animation: red_wobble 0.5s ;
}
.reversi-board-blue-pointer {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width:  32px;
  border: 3px dashed #4286f4;
  opacity: 1;
  box-sizing: border-box;
  animation: blue_wobble 0.5s ;
}
.reversi-board-red-pointer-hide {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width:  32px;
  border: 2.5px dashed #f44183;
  opacity: 0.5;
  box-sizing: border-box;
  /* animation: red_wobble 0.4s ; */
}
.reversi-board-blue-pointer-hide {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width:  32px;
  border: 3px dashed #4286f4;
  opacity: 0.5;
  box-sizing: border-box;
  /* animation: wobble 0.4s ; */
}
@keyframes red_wobble {
   0% { transform: translateX(0%); height: 39px; width: 39px;left: -2px;top: -2px; border: 4px dashed #f44183;}
   15% { transform: translateX(-8%) rotate(-6deg); }
   30% { transform: translateX(7%) rotate(4deg); }
   45% { transform: translateX(-5%) rotate(-2deg); height: 33px; width: 33px;}
   60% { transform: translateX(3%) rotate(1deg); }
   75% { transform: translateX(-1%) rotate(-0.5deg); }
   100% { transform: translateX(0%); }
}
@keyframes blue_wobble {
   0% { transform: translateX(0%); height: 39px; width: 39px;left: -2px;top: -2px; border: 4px dashed #4286f4;}
   15% { transform: translateX(8%) rotate(6deg); }
   30% { transform: translateX(-7%) rotate(-4deg); }
   45% { transform: translateX(5%) rotate(2deg); height: 33px; width: 33px;}
   60% { transform: translateX(-3%) rotate(-1deg); }
   75% { transform: translateX(1%) rotate(0.5deg); }
   100% { transform: translateX(0%); }
}
